.navLink:link,
.navLink:visited {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0 1rem 2.5rem;
  color: #fff;
  font-size: 1.1rem;
  position: relative;
}

.navLink img {
  width: 1.1rem;
}

.navLink:global(.active) {
  background-color: #01909a;
}

.navLink:global(:not(.active)):hover {
  background-color: rgba(99, 214, 201, 0.1);
}

.subNavLink {
  padding-left: 3.5rem !important;
}
