.spinner {
  width: 1.5rem;
  height: 1.5rem;
  border: 0.3rem solid transparent;
  border-top-color: #fff;
  border-right-color: #fff;
  border-bottom-color: #fff;
  border-radius: 50%;
  animation: rotate 1.5s infinite linear;
  margin-left: auto;
  margin-right: auto;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
